<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <h1> Welcome To Angular Pipes Demo </h1>
    </div>
    <div class="col-md-4">
      <button class="btn btn-info" [routerLink]="['/builtInPipes']"
        routerLinkActive="router-link-active">builtInPipes</button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-info" [routerLink]="['/builtInPipes']"
        routerLinkActive="router-link-active">builtInPipes</button>
      </div>
    <div class="col-md-4">
      <button class="btn btn-info" [routerLink]="['/builtInPipes']"
        routerLinkActive="router-link-active">builtInPipes</button>
    </div>
    <br>
    <br>
    <hr>
  </div>

  <div class="row mt-3">

    <div>
      <router-outlet></router-outlet>
    </div>
    <!-- <div class="col-md-12 text-center">
      <img src="../assets/Angular-Pipes.jpg" alt="Angular Pipes" style="width: 50%;">
    </div> -->
  </div>
</div>